


#wdw-users{
	align-items: center;
	flex-direction: column;
	background-color: #ECEFF1;
}


#wdw-users .lbl-user .lbl-user-username{
	width: 300px;
}

.lbl-user-id {
	display:none;
}

#wdw-sign-up{
	background-color: #ECEFF1;
	display: none;
	flex-direction: column;
	z-index: 5;

}

#wdw-login{
	background-color: #ECEFF1;
	display: flex;
	flex-direction: column;
	z-index: 5;
}


/************************************************************************/
/************************************************************************/
/************************************************************************/



.userBodyWindow{

	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #ECEFF1;
}

#userBody{


}

#userBody{
	max-width: 50vw;
	margin-top: 48px;
overflow-x: hidden;
			flex-direction: row;
			display: flex;
			flex-wrap: wrap;
}

input#txt-create-user-username {

}

.admin-user {
	background-color: #FFFF8D;
}

.admin-user:hover {
	background-color: #FFF9C4;
}

.lbl-user-username {
	width: 300px;
	    display: flex;
    justify-content: center;
}

.lbl-user-password {
	width: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.userButton{
height: 10vh;
width: 10vh;
}
