h1, input::-webkit-input-placeholder, button {
    font-family: 'roboto', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn.orange {
    background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
    background-color: #d35400;
}

input {
    margin: 40px 25px;
    width: 30vw;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #EC407A;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #EC407A 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #EC407A 4%);
    background-position: -30vw 0;
    background-size: 30vw 100%;
    background-repeat: no-repeat;
    color: #EC407A;
}

#txt-create-property-address {}

input:focus, input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
    color: #EC407A;
    font-size: 11px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible !important;
}

.contener {
    margin-top: 2vh;
    width: 30vw;
    height: 6vh;
    background-color: #2196F3;
    line-height: 60px;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Roboto';
    font-size: 25px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 1px 1px #333333;
}

.txt_button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    width: 100%;
}

.contener:hover .circle {
    -webkit-animation: oblik 0.4s ease-in;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: oblik 0.4s ease-in;
    -moz-transform-origin: 50% 50%;
    -ms-animation: oblik 0.4s ease-in;
    -ms-transform-origin: 50% 50%;
    animation: oblik 0.4s ease-in;
    transform-origin: 50% 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@-webkit-keyframes oblik {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(5);
        background-color: #006064;
    }
}

@-moz-keyframes oblik {
    0% {
        opacity: 1;
        -moz-transform: scale(0);
    }
    100% {
        opacity: 0;
        -moz-transform: scale(5);
        background-color: #006064;
    }
}

@-ms-keyframes oblik {
    0% {
        opacity: 1;
        -ms-transform: scale(0);
    }
    100% {
        opacity: 0;
        -ms-transform: scale(5);
        background-color: #006064;
    }
}

@keyframes oblik {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(5);
        background-color: #006064;
    }
}

.sa-confirm-button-container {
    padding-bottom: 30px;
}

.image-holder {
    flex-direction: column;
    display: flex;
    max-width: inherit;
    max-height: 35vh;
    align-items: center;
}

.img-preview {
    display: flex;
    width: 4vw;
}

.btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
}

input.file {
    width: 20vw;
}