#wdw-property-menu{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #9C27B0;
	color: white;
}

#wdw-property-menu div{
	cursor: pointer;
}

#wdw-property-menu div:not(:first-child){
	margin-top: 100px;
}


/************************************************************************/
/************************************************************************/
/************************************************************************/
#wdw-properties{
	/*display: flex;*/
	align-items: center;
	flex-direction: column;
	background-color: #ECEFF1;

}





#wdw-properties .lbl-property .lbl-property-address{
	width: 200px;
}

.lbl-property-id {
	display:none;
}

#wdw-properties > div:nth-child(2){

}

.propertyImages {
	width: 31%;
	height: 20%;
	display: flex;
    opacity: 0.5;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
}

.propertyImages:hover{

	transform: scale(2, 2);
	 opacity: 1;
	 z-index: 20;
}

.lbl-property-images {

	display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
		overflow:visible;
}



/*#wdw-properties */
.lbl-property.card:first-child{
display: none;
}
/************************************************************************/
/************************************************************************/
/************************************************************************/
#wdw-edit-property{
	/*display: flex;*/
	flex-direction: column;
	background-color: #E91E63;
}

#wdw-edit-property .lbl-property{
	display: flex;

	justify-content: space-around;
	margin-top: 20px;
}

.lbl-property-address{
	width: 400px;
	text-align: center;
}

.lbl-property-price{
	width: 300px;
	text-align: center;
}

/************************************************************************/
/************************************************************************/
/************************************************************************/

#wdw-create-property{
	/*display: flex;*/
	background-color: #ECEFF1;;
	display: flex;
	flex-direction: column;
}


/************************************************************************/
/************************************************************************/
/************************************************************************/



.mainAccentColor{

}

.headerText {
	font-size: 32px;
	font-weight: 100;
}


.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #2ecc71;
  color: #ecf0f1;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-color: #ecf0f1;
  color: #34495e;
  font-family: Trebuchet, Arial, sans-serif;
  text-align: center;
}

h2 {
  font-weight: normal;
}



.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}
